<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-scope" content="profile email">
      <meta name="google-signin-client_id"
      content="16117319787-5sabt8orh1djfb26hnq0th7aedi9e8n2.apps.googleusercontent.com">
</head>

<body>
  <% include ../partials/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1 style="font-family:impact;">
        <img style="height:70px;" src="matador.png"></a>
        Matador
    </h1>
    <p>Grab the market by the horns</p>
  </div>
</div>
</body>
</html>
